<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tempo de Férias</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body class="text-bg-dark">

    <section class="container text-center" id="text">
        <h3>As férias do Vinicius terminam em:</h3>
    </section>

    <section class="container text-center">
        <div class="item">
            <h1 class="dias" id="dias">30</h1>
            <h2>Dias</h2>
        </div>
    </section>

    <section class="container text-center d-flex justify-content-center">
        <div class="mx-3">
            <h1 class="horas" id="horas">30</h1>
            <h2>Horas</h2>
        </div>
        <div class="mx-2">
            <h1 class="minutos" id="minutos">30</h1>
            <h2>Minutos</h2>
        </div>
        <div class="mx-2">
            <h1 class="segundos" id="segundos">30</h1>
            <h2>Segundos</h2>
        </div>
    </section>

    <script src="./script/script.js"></script>
</body>
</html>
