
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
}

@keyframes anim{
    from{opacity: 0;}
    to{opacity: 1;}
}


body{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;

    padding: 20px;
}

h1, h2, h3{
    animation: anim 1s;
}

h2{
    font-size: 20px;
}

.dias{
    font-size: 200px;
    font-weight: 900;
}

.item h2{
    font-size:50px;
    font-weight: 900;
}

